.noMargin {
  margin: 0;
}

.gameScreenContainer {
  display: grid;
  grid-template-rows: 1fr 18px 105px 190px;
  height: 100vh;
}

.topGameScreen {
  display: grid;
  grid-template-rows: 110px 1fr;
}

.topPlayerContainer {
  display: grid;
  grid-template-columns: 140px 1fr 140px;
}

.middleGameScreen {
  display: grid;
  grid-template-columns: 140px 1fr 140px;
}
.stopGameButtonContainer {
  grid-column-start: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stopGameButton {
  border-radius: 25px;
  background: #1e324a;
  color: white;
  font-family: courier;
  border: none;
  padding: 14px 25px;
  font-size: 14px;
  cursor: pointer;
}
