.tasksArea {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerAreaLeft .tasksArea {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 260px;
}

.playerAreaTop .tasksArea {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.playerAreaRight .tasksArea {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 260px;
}

.playerAreaLeft .tasksAndCommunicatorArea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.playerAreaRight .tasksAndCommunicatorArea {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  height: 100%;
}

.playerAreaTop .tasksAndCommunicatorArea {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  flex-direction: row-reverse;
}

.currentPlayerContainer .tasksAndCommunicatorArea {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  height: 100%;
}

.tasksAndCommunicatorArea {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
}
