.communicatorImage {
  width: 50px;
  box-shadow: 1px 1px 2px #2b2b2b;
  border-radius: 30px;
}

.playerAreaLeft .communicatorImage {
  transform: rotate(90deg);
}
.playerAreaTop .communicatorImage {
  transform: rotate(1800deg);
}
.playerAreaRight .communicatorImage {
  transform: rotate(-90deg);
}

.tasksArea {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerAreaLeft .tasksArea {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 260px;
}

.playerAreaTop .tasksArea {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.playerAreaRight .tasksArea {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 260px;
}

.playerAreaLeft .tasksAndCommunicatorArea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.playerAreaRight .tasksAndCommunicatorArea {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  height: 100%;
}

.playerAreaTop .tasksAndCommunicatorArea {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  flex-direction: row-reverse;
}

.currentPlayerContainer .tasksAndCommunicatorArea {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  height: 100%;
}

.tasksAndCommunicatorArea {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
}

.currentPlayerContainer .communicatorContainer {
  margin-left: 20px;
}

.playerAreaRight .communicatorContainer {
  margin-bottom: 20px;
}

.playerAreaLeft .communicatorContainer {
  margin-top: 20px;
}

.playerAreaTop .communicatorContainer {
  margin-right: 20px;
}
