.matchingPlayer {
  color: #3b3f65;
}

.player {
  font-family: 'Dr Sugiyama', cursive;
}

.sugi {
  font-family: 'Dr Sugiyama', cursive;
}

.logTitle {
  display: flex;
  justify-content: space-between;
  font-family: 'Dr Sugiyama', cursive;

  font-size: 24px;
  margin: 7% 16% 20% 1%;
}

.playerContainer {
  height: 100vh;
  background: radial-gradient(
    circle,
    rgba(78, 104, 115, 1) 6%,
    rgba(78, 104, 115, 1) 52%,
    rgba(36, 69, 110, 1) 100%
  );
  position: relative;
}

.book {
  position: absolute;
  height: 100vh;
  right: 35%;
  background-image: url(../../assets/backgroundbook.png);
  width: -webkit-fill-available;
  background-repeat: no-repeat;
  background-size: contain;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.scrapbook {
  position: absolute;
  height: 100vh;
  background-image: url(../../assets/Lander.png);
  width: -webkit-fill-available;
  background-repeat: no-repeat;
  background-size: cover;
}

.playersContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
