.cardImage {
  position: absolute;
  height: auto;
  width: 75px;
  left: 0;
  z-index: 0;
}
.card {
  height: 116.78px;
  width: 75px;
  position: relative;
  font-family: 'Dr Sugiyama', cursive;
  display: inline-block;
}

.cardContent {
  position: relative;
  font-family: century gothic;
  color: white;
  left: 0%;
  top: 26%;
}
