.playerArea {
  display: flex;
  align-items: center;
}

.playerAreaLeft {
  padding-left: 10px;
  justify-content: space-between;
}

.playerAreaTop {
  padding-top: 5px;
  flex-direction: column;
  grid-column-start: 2;
}

.playerAreaRight {
  padding-right: 10px;
  display: flex;
  flex-direction: row-reverse;
}

.playerNameTop {
  display: flex;
  align-items: center;
}

.playerNameLeft {
  transform: rotate(90deg);
  width: 20px;
  display: flex;
  align-items: center;
}

.playerNameRight {
  transform: rotate(-90deg);
  width: 20px;
  display: flex;
  align-items: center;
}

.playerTasksLeft {
  /* transform: rotate(90deg) translate(0px, -15px); */
  height: 100%;
  max-width: 105px;
}

.playerAreaTop .playerTasks {
  margin-top: 5px;
  width: 100%;
}

.playerTasksRight {
  /* transform: rotate(-90deg) translate(0px, -15px); */
  height: 100%;
  max-width: 105px;
}
