.matchingPlayer {
  color: #3b3f65;
}

.player {
  font-family: 'Dr Sugiyama', cursive;
}

.sugi {
  font-family: 'Dr Sugiyama', cursive;
}

.logTitle {
  display: flex;
  justify-content: space-between;
  font-family: 'Dr Sugiyama', cursive;

  font-size: 24px;
  margin: 7% 16% 20% 1%;
}

.book {
  position: absolute;
  height: 100vh;
  right: 35%;
  background-image: url(../../assets/backgroundbook.png);
  width: -webkit-fill-available;
  background-repeat: no-repeat;
  background-size: contain;
}

.bookContent {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.scrapbook {
  position: absolute;
  height: 100vh;
  background-image: url(../../assets/Lander.png);
  width: -webkit-fill-available;
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
}

.playersContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media only screen and (min-width: 1040px) {
  .bookContent {
    width: 99%;
  }
}

@media only screen and (min-width: 1040px) {
  .bookContent {
    width: 99%;
  }
}

@media only screen and (min-width: 1080px) {
  .bookContent {
    width: 97%;
  }
}

@media only screen and (min-width: 1100px) {
  .bookContent {
    width: 81%;
  }
}
